.header {
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-gray-200);

  & .header-container {
    margin: auto;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .logo {
      display: flex;
      max-width: 250px;

      & img {
        width: 100%;
      }
    }

    & .auth-section {
      & .auth-buttons {
        display: flex;
        gap: 1rem;
      }
    }
  }
}
