@font-face {
  font-family: 'coolicons';
  src:
    url('/fonts/coolicons.ttf?44fbbv') format('truetype'),
    url('/fonts/coolicons.woff?44fbbv') format('woff'),
    url('/fonts/coolicons.svg?44fbbv#coolicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^='ci-'],
[class*=' ci-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'coolicons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Only icons actually used in the app */
.ci-Add_Plus_Circle:before {
  content: '\e902';
}
.ci-Arrow_Circle_Down:before {
  content: '\e90c';
}
.ci-Arrow_Circle_Up:before {
  content: '\e911';
}
.ci-Arrow_Left_LG:before {
  content: '\e91c';
}
.ci-Close_MD:before {
  content: '\e98d';
}
.ci-Search_Magnifying_Glass:before {
  content: '\ea52';
}
.ci-Star:before {
  content: '\ea6f';
}
