* {
  font-family:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Helvetica Neue',
    Arial,
    sans-serif;
}

h1,
h2,
h3 {
  color: var(--color-gray-900);
  line-height: 1.2;
}

h1 {
  font-size: 1.75rem;
  font-weight: 700;
}
h2 {
  font-size: 1.25rem;
  font-weight: 600;
}
h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

.subtitle {
  color: var(--color-gray-600);
  padding-bottom: 1rem;
}
