.category-container {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(8, 1fr);
  padding-bottom: 1rem;

  .category {
    background-color: var(--color-gray-100);
    border: 1px solid var(--color-gray-200);
    color: var(--color-gray-700);
    border-radius: 50%;
    aspect-ratio: 1;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 500;
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--color-gray-200);
      border-color: var(--color-gray-300);
    }

    &.active {
      background-color: var(--color-primary-light);
      border-color: var(--color-primary);
      color: var(--color-gray-50);
      cursor: pointer;
    }
  }
}

.filter-container {
  display: flex;
  align-items: center;
  gap: 1rem;

  .filter-group {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
}

.empty-state {
  padding: 10rem 0;
}

.recipe-grid {
  padding-top: 3rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}
