:root {
  --color-primary: #0d6efd;
  --color-secondary: #e07c09;

  --color-gray-50: #f8fafc;
  --color-gray-100: #f1f5f9;
  --color-gray-200: #e2e8f0;
  --color-gray-300: #cad5e2;
  --color-gray-400: #90a1b9;
  --color-gray-500: #62748e;
  --color-gray-600: #45556c;
  --color-gray-700: #314158;
  --color-gray-800: #1d293d;
  --color-gray-900: #0f172b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: var(--color-gray-50);
  color: var(--color-gray-900);
  line-height: 1.5;
}
