.footer {
  background-color: var(--color-gray-50);

  &.footer-container {
    margin: auto;
    max-width: var(--container-width);
  }

  & p {
    text-align: center;
    color: var(--color-gray-400);
  }
}
